// ================================================
// Actions
// ================================================
.is-hidden {
  display: none;
}

.track-enter-active,
.track-leave-active {
  transition: 
    transform 0.4s 0.2s $transTimeFuncEase,
    opacity 0.4s 0.2s $transTimeFuncEase;
}
.track-enter,
.track-leave-to {
  transform: scale(0.5);
  opacity: 0;
}