// ================================================
// Buttons
// ================================================
.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  padding: 6px 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $baseFont;
  font-size: 0.8em;
  border: none;
  border-radius: $baseBorderRadius;
  
  &:active {
    transform: translateY(1px);
  }
}

.btn-primary {
  @include btn-colors(white, $orange);
}

.btn-light {
  @include btn-colors(black, $lightgray);
}

.btn-dark {
  @include btn-colors($gray, transparent, $orange);
}

.btn-has-icon {
  display: inline-flex;
  align-items: center;
  
  .btn-text {
    pointer-events: none;
    margin-right: 4px;
    
    @media (max-width: $bpSm) {
      @include visually-hidden;
    }
  }
  
  [class^='icon-'] {
    width: 24px;
  }
}