// ================================================
// Buttons
// ================================================
.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  padding: 6px 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $baseFont;
  font-size: 0.8em;
  color: inherit;
  border: none;
  border-radius: $baseBorderRadius;
  transition: 
    color $baseTransSpeed/1.5 $transTimeFuncEase,
    background-color $baseTransSpeed/1.5 $transTimeFuncEase;

  .material-design-icon {
    pointer-events: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    backface-visibility: hidden;    
  }

  .material-design-icon__svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }

  &[theme="primary"] {
    @include btn-colors(white, $orange);
  }
  
  &[theme="light"] {
    @include btn-colors(black, $lightgray);
  }
  
  &[theme="dark"] {
    @include btn-colors($gray, transparent, $orange);
  }
  
  // Track actions
  &[theme="overlay"] {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    
    [class*="icon"] {
      width: 75%;
      height: 75%;
    }
  }

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    cursor: initial;
    @include btn-colors(darken($darkgray, 20%), $darkgray);

    &:active { transform: translateY(0); }
    &:hover { background-color: $darkgray; }
  }
}