// ================================================
// Track Grid
// ================================================
.track-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-auto-flow: dense;
  grid-gap: $gridGap;
  padding: 0 $gridGap $gridGap;
  width: 100%;
  transform: translateX(0);
  transition: 
    opacity ($baseTransSpeed * 2) $transTimeFuncEase,
    transform ($baseTransSpeed * 2) $transTimeFuncEase;
  
  @media (min-width: $bpMd) {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    
    .span-2 {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
  
  &:hover {
    @media (hover: hover) {
       .track {
          opacity: 0.6;
       }
    }

    .track:hover,
    .track.is-playing {
      opacity: 1;
    } 
  }
  
  .viewing-playlist & {
    opacity: 0.2;
    transform: translateX(25%);
  }
}

.view-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  .viewing-playlist & {
    z-index: 100;
  }
}