// ================================================
// Mixins
// ================================================
@mixin visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin btn-colors($color, $bg, $hColor: $color, $hBg: $bg) {
  color: $color;
  background-color: $bg;
  
  &:hover {
    color: $hColor;
    background-color: darken($hBg, 10%);
  }
}