// ================================================
// Track Filters
// ================================================
.filters-container {
  position: relative;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  padding: $basePadding;
  width: 100%;
  background-color: $containerBgColor;
  z-index: 300;

  >:not(:last-child) {
    margin-right: 6px;
  }
}

.search-container {
  display: flex;
  flex: 1;
  
  >:not(:last-child) {
    margin-right: 6px;
  }
  
  label {
    @include visually-hidden;
  }

  input {
    flex: 1;
    padding: 8px;
    min-width: 0;
    font-family: $baseFont;
    font-size: $baseFontSize;
    border: none;
    border-radius: $baseBorderRadius;
    
    @media (min-width: $bpLg) {
      max-width: 400px;
    }
  }
}

.menu-filters {
  $itemPadding: 6px;
  position: absolute;
  padding: $basePadding;
  width: 150px;  
  list-style: none;
  color: black;
  background-color: white;
  border-radius: $baseBorderRadius;
  box-shadow: rgba(black, 0.2) 0 2px 6px 0;
  z-index: 300;
  
  &:before {
    $size: 12px;
    content: '';
    position: absolute;
    top: -$size / 2;
    left: ($size * 2) - $itemPadding;
    width: $size;
    height: $size;
    background-color: inherit;
    border-top-left-radius: $baseBorderRadius;
    transform: rotate(45deg);
  }
  
  .menu-item-link {
    display: block;
    padding: ($itemPadding / 2) $itemPadding;
    color: black;
    text-decoration: none;
    
    &:hover {
      color: $blue;
    }
    
    &:active {
      transform: translateY(1px);
    }
  }
}

[id="filters-toggle"] {
  .material-design-icon {
    transform: rotate(0);
    transition: transform $baseTransSpeed $transTimeFuncEase;
  }
  
  &.is-active {
    .material-design-icon {
      transform: rotate(720deg);
    }
  }
}

[id="playlist-toggle"] {
  position: relative;
  overflow: hidden;
  
  .material-design-icon {
    transition: transform ($baseTransSpeed * 2) $transTimeFuncEase;
  }
  
  .view-grid-icon {
    transform: translateX(-150%);
  }
  
  .playlist-play-icon {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
  }
  
  .viewing-playlist & {
    .material-design-icon {
      transition: transform $baseTransSpeed $transTimeFuncEase;
    }
    
    .view-grid-icon {
      transform: translateX(0);
    }
    
    .playlist-play-icon {
      transform: translateX(150%);
    }
  }
}

.empty-state-container {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: $basePadding;
  height: 50vh;
  max-width: 500px;
  text-align: center;
}